!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Bootstrap, from Twitter
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/

  %body
    .topbar
      .fill
        .container
          %img{:src => "/img/shwitter-logo.png"}
          %form.pull-right{:action => ""}
            %input.input-small{:placeholder => "Username", :type => "text"}/
            %input.input-small{:placeholder => "Password", :type => "password"}/
            %button.btn{:type => "submit"} Sign in
    .container
      .content
        .page-header
          %h1
            Социальная сеть для бабушек
            %small Запиши пока не забыла
        .row-fluid
          .span8
            %p
              Как звать:
              %strong= user.username
              %form(action="/profile" method="post")
                %label(for="password")Eлехтронная почта:
                %input#email(type="text" name="email")
                %input(type="submit" value="Submit")

      %footer
        %p &copy; Shweeter 2011
